# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data files
*.csv
*.png

# Trained models
trained_models/

# Results
results/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
